.rc-old .page-settings .section,
.rc-old .page-container table
	background-color component-bg

.rc-old .page-settings .section
	border none

.rc-old .page-container table
	margin-top 10px

	.admin-table-row, th
		background-color transparent

	th
		border-bottom 1px solid darken(component-bg, 8%)

	tr:hover
		th
			background-color darken(component-bg, 8%)
		td
			background-color darken(component-bg, 13%)

	thead
		th, td
			background-color transparent !important

:root:root
	--flex-nav-background sidebar-bg
	--sidebar-background-light sidebar-bg
	--sidebar-background-light-hover darken(sidebar-bg, 15%)

.sidebar-light .sidebar-item
	color sidebar-fg

.sidebar-flex__search .rc-input__element
	background-color darken(sidebar-bg, 20%)
	color input-fg

// Anchors inside pages. For some reason the
// .integrate-other-ways anchors are !important.
.page-container a:not(.button):not(.rc-button)
	color anchor-fg !important

	&:hover
		color darken(anchor-fg, 10%) !important

// Anchor buttons.
.page-list a.button,
.page-settings a.button
	color button-fg

	&:hover
		color button-fg

// Borders between input sections.
.rc-old .page-settings .section-content .input-line
	border-color lighten(component-bg, 10%)

.rc-old .fixed-title,
.rc-old .page-list .results
	border-color border-color

// Warnings like the 2FA warning.
.pending-background
	background-color transparent
	border none

.rc-old .page-static .content .section .section-content
	background-color component-bg

// Slider.
.range-slider-range
	background-color mix(#fff, component-bg, 6%)
	border-color mix(#fff, component-bg, 6%)

	&::-webkit-slider-thumb
		background-color highlight-color

		&:hover, &:active
			background-color darken(highlight-color, 10%)

	&::-moz-range-thumb
		background-color highlight-color

		&:hover, &:active
			background-color darken(highlight-color, 10%)

.range-slider-value
	background-color highlight-color

	&:after
		border-right-color highlight-color

.admin-integrations-new-panel .admin-integrations-new-item
	border-color border-color
	color component-fg

	&:hover
		background-color darken(component-bg, 8%)

.rc-old .page-settings .section
	.message.new-day::before
		background-color component-bg

	.attachment-block-border
		background-color highlight-color !important // Override inline style.

.rc-old .page-container .content .rocket-form fieldset small
	color chat-fg

.input-line.setting-changed > label
	color highlight-color

.rc-old .select-arrow
	color component-fg

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler
	background-color rgba(0, 0, 0, 0.05) !important

::-webkit-scrollbar-thumb
	background-color component-bg

@import "base16"

// More opinionated "fixes".
.rc-old .page-settings
	.section-content:nth-child(2)
		padding-top 0 !important

	.section-content > .button
		margin-top 20px

.rc-old .page-static .content .section h1
	margin-top 0
	padding-left 0

.input-line textarea
	width 100%

.rc-old .page-settings .content .rocket-form .submit
	margin-right 20px

.permissions-manager > a,
.rc-old .page-settings .content > a
	margin-left 20px

.rc-old .page-settings .section-content .flex-grow-1 + .color-editor > select
	border-left none
	cursor pointer

.rc-old .page-settings .section-content .flex-grow-1 > input
	border-bottom-right-radius 0 !important
	border-top-right-radius 0 !important

.sidebar-light .sidebar-item__picture
	.avatar
		box-shadow none

.page-list a.button
	margin-left 0
