// Main colors.
success-color = #43b581
danger-color = #f04747
highlight-color = #7289da
warning-color = #fcb316

// Buttons.
button-bg = highlight-color
button-fg = mix(button-bg, #ffffff, 20%)
button-cancel-bg = danger-color
button-cancel-fg = mix(button-cancel-bg, #ffffff, 20%)
button-secondary-bg = component-fg
button-secondary-fg = component-bg

anchor-fg = highlight-color
anchor-hover-fg = darken(highlight-color, 10%)

// Code blocks, blockquotes, popups.
component-bg = #2a2c31
component-fg = #bbb
divider-color = darken(component-bg, 10%)

// Left and right sidebars.
sidebar-bg = #2f3136
sidebar-fg = #bbb

// Status colors.
online-color = success-color
away-color = warning-color
busy-color = danger-color
invisible-color = #bbb

// Main chat area.
chat-bg = #36393e
chat-fg = mix(#fff, chat-bg, 70%)
border-color = darken(chat-bg, 10%)

// Inputs.
input-fg = mix(#000, chat-fg, 5%)
input-bg = mix(#000, chat-bg, 10%)
input-border = mix(#fff, chat-bg, 13%)
input-focus = mix(input-border, highlight-color, 80%)
placeholder-color = lighten(chat-bg, 20%)

icon-fg = mix(chat-bg, chat-fg, 50%)

::-webkit-input-placeholder
	color placeholder-color !important

:-moz-placeholder
	color placeholder-color !important

::-moz-placeholder
	color placeholder-color !important

:-ms-input-placeholder
	color placeholder-color !important

:root:root // To make sure we override.
	--badge-unread-background highlight-color
	--rc-color-button-primary highlight-color
	--rc-color-primary chat-fg
	--rc-color-primary-lightest darken(chat-bg, 13%)
	--rc-color-primary-dark darken(sidebar-bg, 7%)
	--rc-color-primary-darkest darken(sidebar-bg, 15%)
	--status-online online-color
	--status-away away-color
	--status-busy busy-color
	--status-invisible invisible-color
	--popover-background component-bg
	--popover-title-color component-fg
	--popover-item-color component-fg
	--popover-divider-color divider-color
	--sidebar-background sidebar-bg
	--badge-background lighten(sidebar-bg, 8%)
	--sidebar-item-hover-background darken(sidebar-bg, 13%)
	--sidebar-item-popup-background darken(sidebar-bg, 13%)
	--message-box-container-border-color input-border
	--rc-color-error danger-color
	--create-channel-title-color chat-fg
	--tags-border-color input-border
	--popup-list-background component-bg
	--popup-list-name-color component-fg
	--popup-list-background-hover highlight-color
	--popup-list-selected-background highlight-color
	--tags-text-color #fff
	--tags-background highlight-color
	--message-box-markdown-color chat-fg
	--message-box-markdown-hover-color darken(chat-fg, 50%)
	--message-box-user-typing-user-color highlight-color
	--header-background-color chat-bg
	--header-title-username-color-darker chat-fg
	--color-darkest mix(chat-bg, chat-fg, 50%)
	--tooltip-background component-bg
	--rc-color-alert-message-primary-background component-bg
	--rc-color-alert-message-secondary-background component-bg
	--chip-background highlight-color
	--header-title-status-color darken(chat-fg, 20%)
	--color-gray-lightest chat-fg

.color-primary-font-color
	color chat-fg

html, body, .content-background-color, .loading-animation
	background-color chat-bg

.secondary-background-color
	background-color component-bg

.border-secondary-background-color
	border-color lighten(component-bg, 10%)

.border-component-color
	border border-color

.background-component-color,
.background-primary-action-color
	background-color highlight-color

.background-info-font-color
	background-color highlight-color

.secondary-font-color
	color button-fg

.button,
.button.primary,
.rc-button
	background-color button-bg
	color button-fg
	border none

	&:hover
		color button-fg
		background-color darken(button-bg, 10%)
		opacity 1 !important

	&[disabled]
		background-color mix(chat-bg, button-bg, 50%)
		color mix(chat-bg, button-fg, 50%)

.rc-button--outline
	background-color transparent
	border 2px solid button-bg
	color button-bg

	&:hover
		background-color transparent
		border-color darken(button-bg, 10%)
		color darken(button-bg, 10%)

	&[disabled]
		background-color transparent
		border-color mix(chat-bg, button-bg, 50%)
		color mix(chat-bg, button-bg, 50%)

.button.danger,
.rc-button--cancel
	background-color button-cancel-bg
	color button-cancel-fg

	&:hover
		background-color darken(button-cancel-bg, 10%)
		color button-cancel-fg
		opacity 1 !important

	&[disabled]
		background-color mix(chat-bg, button-cancel-bg, 50%)
		color mix(chat-bg, button-cancel-fg, 50%)

.rc-button--cancel.rc-button--outline
	background-color transparent
	border 2px solid button-cancel-bg
	color button-cancel-bg

	&:hover
		background-color transparent
		border-color darken(button-cancel-bg, 10%)
		color darken(button-cancel-bg, 10%)

	&[disabled]
		background-color transparent
		border-color mix(chat-bg, button-cancel-bg, 50%)
		color mix(chat-bg, button-cancel-bg, 50%)

.button.secondary,
.rc-button--secondary
	background-color button-secondary-bg
	color button-secondary-fg

	&:hover
		background-color darken(button-secondary-bg, 10%)
		color button-secondary-fg
		opacity 1 !important

	&[disabled]
		background-color mix(chat-bg, button-secondary-bg, 50%)
		color mix(chat-bg, button-secondary-fg, 70%)

// Loading dots.
.loading-animation > div,
.main-content .loading-animation > div,
.flex-tab .loading-animation > div
	background-color component-fg

// The main bar that goes above the chat area.
.rc-old .fixed-title, .rc-header
	border-bottom 1px solid border-color
	box-shadow none

// The message section at the bottom of the chat area.
.messages-container .footer
	background transparent
	border-top-style solid
	border-top-width 1px
	box-shadow 0 1px 2px -1px mix(#fff, chat-bg, 6%)

// "Start of conversation" text.
.messages-box .start
	color #888
	text-transform uppercase
	font-weight 700
	font-size 12px

// Links inside messages.
.message a
	color anchor-fg

	&:hover
		color anchor-hover-fg

// All avatars.
.avatar
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5)

// Sidebar on the left.
.sidebar
	box-shadow 1px 0 2px -1px rgba(0, 0, 0, 0.5)
	border-right 1px solid sidebar-bg

// Sidebar on the right.
.rc-old .flex-tab-container .flex-tab-bar
	background-color sidebar-bg
	border-left 1px solid border-color
	box-shadow -1px 0 2px -1px rgba(0, 0, 0, 0.5)

	.tab-button-icon
		color sidebar-fg
		fill sidebar-fg

	.tab-button:hover, .tab-button.active
		background-color sidebar-bg

// Slide-out sidebar
.flex-tab .content, .flex-tab .user-view, .flex-tab .list-view, .contextual-bar, .rc-user-info-container
	background-color sidebar-bg

// User info.
.rc-user-info-details
	background-color component-bg

.rc-user-info-details__info
	color component-fg
	font-size .9em

.rc-user-info-details__label
	font-size 1em
	margin-bottom 0.5em

// Old sidebar.
.flex-tab input:focus, .flex-tab select:focus, .flex-tab textarea:focus
	border-color input-focus

.flex-tab .channel-settings .button,
.flex-tab .channel-settings .buttons .button
	background-color component-bg
	color component-fg

	&:hover
		background-color darken(component-bg, 10%)
		color lighten(component-fg, 10%)

// All inputs except sidebar search.
input, select, textarea,
.rc-input__element,
.emoji-top .emoji-filter .search,
.rc-tags,
.flex-tab .channel-settings .editing,
.rc-old select, .rc-old input[type="text"], .rc-old input[type="number"], .rc-old input[type="email"], .rc-old input[type="url"], .rc-old input[type="password"],
.rc-old #login-card .input-line input, .rc-old #login-card .input-line select
	background-color input-bg
	border 2px solid input-border
	border-radius 2px !important // I don't feel like overriding each class.

	&:focus
		border-color input-focus !important // To override Rocket Chat's !important.

	&[disabled]
		background-color lighten(input-bg, 10%)
		border-color lighten(input-border, 10%)

// All inputs + search in the sidebar.
input, select, textarea,
.rc-input__element,
.toolbar .rc-input__element
	color input-fg

// New day divider.
.message.new-day
	&::before
		background-color chat-bg
		color mix(#fff, chat-bg, 30%)

	&::after
		border-color mix(#fff, chat-bg, 4%)

.flex-tab .message.new-day
	&::before
		background-color sidebar-bg
		color mix(#fff, sidebar-bg, 15%)

	&::after
		border-color mix(#fff, sidebar-bg, 4%)

// File links.
.rc-old .list-view.uploaded-files-list .file-name
	color highlight-color
	border-bottom-color lighten(sidebar-bg, 5%)

	&:hover
		color lighten(highlight-color, 10%)
		text-decoration none

// Icons next to files.
.message a i, .flex-tab a i, .message a[class^="icon-"], .flex-tab a[class^="icon-"]
	color lighten(sidebar-bg, 30%)

	&:hover
		color lighten(sidebar-bg, 40%)

code, .rc-old .code-colors
	background-color component-bg
	border-color darken(component-bg, 5%)
	border-radius 2px
	color chat-fg
	font-weight 400

// Emoji filter icons.
.filter-item
	border-color darken(component-fg, 30%)

	.category-link
		color darken(component-fg, 30%)

	&:hover
		border-color darken(component-fg, 10%)

		.category-link
			color darken(component-fg, 10%)

	&.active
		border-color highlight-color

		.category-link
			color highlight-color

// Hover over emojis.
.emoji-picker .emojis .emoji-list li:hover
	background-color darken(component-bg, 20%)

// Add dividers between messages similar to the date dividers.
.rc-old .message
	margin-top 40px

	.message-actions
		bottom 4px
		top auto

	&::after
		border-top 1px solid lighten(chat-bg, 5%)
		content: " ";
		display: block;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: -20px;
		width: 100%;

	&.sequential
		padding-top 0
		margin-top 0

		&::after
			display none

		.message-actions
			bottom auto
			top 0

	// Unread line marker.
	&.first-unread
		// Adjust to account for new border and margin.
		.body::before
			background-color highlight-color
			top -20px

		.body::after
			background-color chat-bg
			color highlight-color
			top -25px

	&.first-unread.sequential
		margin-top 10px

		.body::before
			top -6px

		.body::after
			top -12px

	// Also color the date.
	&.first-unread.new-day
		&::before
			color highlight-color

		&::after
			border-color highlight-color

.rc-old .compact .message
	min-height 0
	padding-top 2px
	padding-bottom 2px

	.message-actions
		bottom 0

// Reactions.
.message .reactions
	> li
		background-color component-bg
		border-color component-bg
		color highlight-color

	> li.selected
		background-color component-bg
		background-color highlight-color
		border-color highlight-color
		color #fff

	> li.add-reaction
		border none

.input.checkbox.toggle label:before,
.rc-switch__button,
.rc-switch--blue .rc-switch__button
	background-color component-fg
	border-color component-fg

.input.checkbox.toggle input:checked + label:before,
.flex-nav .input.checkbox.toggle input:checked + label:before,
.rc-switch__input:checked + .rc-switch__button,
.rc-switch--blue .rc-switch__input:checked + .rc-switch__button
	background-color highlight-color
	border-color highlight-color

.rc-old .list-view > .title .see-all
	text-decoration none

	&:hover
		text-decoration underline

// Upload progress bar.
.upload-progress
	.upload-progress-progress
		background-color highlight-color

	.upload-progress-text
		color mix(chat-bg, highlight-color, 80%)

	button
		color mix(chat-bg, highlight-color, 80%)

	button:hover
		color #fff

// Popups like when uploading a file.
.rc-modal
	background-color component-bg

.rc-modal__footer
	background-color darken(component-bg, 10%)

.sweet-alert
	background-color component-bg

	h2, p
		color component-fg

	input
		border-color mix(#fff, component-bg, 4%)
		color component-fg
		background-color darken(component-bg, 10%)

		&:focus
			border-color input-focus
			box-shadow none
			color #eee

	// TODO: There are some gaps, I think they're always there but just more apparent against the dark background.
	.sa-icon.sa-success::before,
		background-color darken(component-bg, 10%)
	.sa-icon.sa-success::after
		background-color component-bg

	.sa-icon.sa-success .sa-fix
		background-color component-bg

	// !important because the styles we need to override are inline...
	button.confirm
		background-color button-bg !important
		color button-fg !important

		&:hover
			color button-fg !important
			background-color darken(button-bg, 10%) !important

	button.cancel
		background-color button-secondary-bg
		color button-secondary-fg

		&:hover
			background-color darken(button-secondary-bg, 10%)

// Selecting a message.
.message.editing, .rc-message-box__container.editing,
.messages-box.selectable .selected
	background-color mix(chat-bg, highlight-color, 90%)

// Preferences page styles. Hopefully this gets updated to match all the other pages.
.preferences-page__header
	border-bottom 1px solid border-color
	box-shadow none
	color chat-fg

.rc-form-legend, .rc-form-label
	color chat-fg

// Create a channel switch label.
.rc-switch__text
	color chat-fg

// Invite users popup
.rc-popup-list__item.selected,
.rc-popup-list__item:hover
	.rc-popup-list__item-name
		color #fff

.rc-room-actions
	color var(--color-darkest)

.rc-icon, .rc-popover__icon-element
	fill currentColor

// Icons in inputs and markdown icons.
.rc-input__icon,
.rc-message-box .rc-icon,
.rc-message-box__toolbar-markdown-link
	color icon-fg
	fill icon-fg

	&:hover
		color lighten(icon-fg, 20%)
		fill lighten(icon-fg, 20%)

.contextual-bar .rc-popup-list__list
	background-color darken(sidebar-bg, 10%)

// Remove the border and space on mobile, we have our own.
@media (max-width: 500px)
	.rc-message-box
		margin-top 0

	.rc-message-box__container
		border none

// Slight adjustment to the channel setting buttons due to the increased border width.
.flex-tab .channel-settings .buttons
	bottom 1px
	top 0

	.button
		padding 7px

// Errors underneath inputs.
.rc-old #login-card .input-line .input-error
	color danger-color

// Mobile menu button.
.burger i
	background-color chat-fg

// Bar that shows # of unread messages and lets you jump to them.
.unread-bar
	&, button
		color #fff

	button:hover
		color mix(#fff, highlight-color, 80%)

// Announcement bar.
.rc-old .announcement
	background-color highlight-color

.rc-user-info__row--separator
	border-color lighten(border-color, 10%)
	margin-bottom 4px

// Select in the members list.
.rc-select
	border-color input-border
	cursor pointer

	select
		border none

// Notification preferences.
.rc-user-info__config-value,
.rc-popover__item-radio:checked + .rc-popover__item-radio-label
	color highlight-color

.rc-popover__item-radio-label::after
	background-color highlight-color

.rc-user-info__config-name,
.rc-user-info__config-content-icon
	color component-fg

// Keyboard shortcuts.
.rc-old .flex-tab-container .flex-tab .content .section
	background-color component-bg
	border none
	color component-fg

.rc-old .flex-tab-container .flex-tab .content .section,
.contextual-bar__content .section
	hr
		background-color border-color
		border none
		height 1px

	kbd
		background-color darken(sidebar-bg, 20%)
		padding 2px

// Members list.
.rc-member-list__user.active, .rc-member-list__user:hover
	background-color mix(sidebar-bg, highlight-color, 90%)

.rc-member-list__counter
	color sidebar-fg

// Switches.
// Make it more obvious which one is selected.
.rc-user-info__scroll
	.rc-switch-double__label.disabled
		color mix(sidebar-bg, sidebar-fg, 70%)

	.rc-switch-double__label
		color sidebar-fg

// Weird, appears to be reversed on the room info panel.
.channel-settings
	.rc-switch-double__label
		color mix(sidebar-bg, sidebar-fg, 70%)

	.rc-switch-double__label.disabled
		color sidebar-fg

// "Files List" panel.
.attachments__name
	color chat-fg

.attachments__item:hover
	background-color component-bg

// Directory page.
.rc-table
	color chat-fg

.rc-table-body .rc-table-tr:hover
	background-color component-bg

@import "dark-admin"
@import "atom-one-dark"

// The rest of these are opinionated "fixes".
:root:root
	--rooms-list-title-text-size 0.85rem
	// Less popover padding.
	--popover-padding 10px 0

// Less space after the room title.
.rooms-list__type
	padding-bottom 5px

	// Move the badge so it's not touching the title text.
	.badge
		margin-left 5px

// Make the triple dot icon fade in like the background does.
.sidebar-item__menu
	display: block
	opacity 0
	transition all 0.3s

.sidebar-item:hover .sidebar-item__menu
	opacity 1

.rc-old .list-view > .title p
	margin-top 10px

.rc-old .buttons-group
	margin-bottom 10px
	margin-top 10px

.rc-tags
	padding-left 2rem

	.rc-tags__tag:first-child
		margin-left 1rem

.rc-tags--no-icon
	padding 0

.messages-box ul
	padding-bottom 20px

.rc-old #login-card .submit
	margin-bottom 12px

.rc-old #login-card .forgot-password, .rc-old #login-card .back-to-login
	margin-top 4px

.rc-old #login-card .input-line label
	margin-left 0

.rc-old #login-card .input-line .input-error
	font-size 0.9em
	margin-top 3px
	padding-left 0

.upload-progress-progress
	z-index 999

.messages-box .start
	margin-top 0
	padding 20px 0

.contextual-bar__content
	padding-top 0

.rc-tags__input
	border none !important
	margin 0 !important

.rc-old .list-view > .title
	> p
		margin-top 0 !important

.rc-popover__title,
.rc-popover__item
	padding-left 16px
	padding-right 16px

.rc-popover__title
	margin-top 6px

.rc-popover__item:hover
	background-color darken(component-bg, 10%)

.rc-popover__divider
	margin 0.5em 0

.rc-old .flex-tab-container .flex-tab .content .section
	margin 5px 20px

.rc-header__name,
.rc-header__block
	font-size 1.25rem
